#container {
    display: flex;
    border: 2px;
    border-radius: 5px;

    height: 200px;
    width: 400px;
    justify-content: center;
    align-items: center;

}

body {
    background: linear-gradient(120deg, #0e0250, #270335, #230757);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

button {
    color: white;
    background-color: rgb(4, 33, 128);
    padding: 10px 20px;
    height: 40px;
    width: 80px;
    box-shadow: inset;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px;
    /* //border-color: white; */
    border-radius: 40px;

    box-shadow: 5px 5px rgb(65, 6, 114);
    animation: flicker 2s infinite alternate;

}
#dot{
    animation : blink 0.5s infinite;
    display: inline;
    

}
@keyframes blink {
    0%{opacity: 0;}
    50%{opacity: 1;}
    100% {opacity: 0;}
    
}

@keyframes flicker {
    0%   { box-shadow: 6px 10px 10px 2px #0a466d; }
    25%  { box-shadow: 3px 2px 15px 4px #260bbb; }
    50%  { box-shadow: 0px 10px 20px 6px #ac1486; }
    65%  { box-shadow: 10px 10px 20px 6px #4c2ac7; }
    75%  { box-shadow: 3px 5px 12px 3px #730a8d; }
    100% { box-shadow: 6px 2px 18px 5px #7821db; }
  }
  